@import url(https://fonts.googleapis.com/css?family=Fraunces:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --green: #22c55e;
  --orange: #f97316;
  --white: #ffffff;
  --dark-blue: #0D1117;
  --background: #191D23;
  --background-2: #FAFAF9;
  --background-3: #f9741626;
  --background-4: #c45e15;
  --description: #4b5563;
  --description-2: #9c9fa6;
  --description-3: #e5e7eb;
  --border: #d8dade;
  --font-1: "Fraunces", serif;
  --font-2: "DM Sans", sans-serif;
}

body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: var(--white);
  padding-top: 8rem;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 8rem);
}
